@charset "utf-8";
 
@font-face {
    font-family: verdana; 
}
/*
   CIS 162 CSS Project 1-3
   
   Lx Typographic Style Sheet
   Author: Alexandria Ramos
   Date:   2/22/22
   
   Filename: main.css

*/



/* HTML and Body Styles */
html {
   background-color: hsl(11, 39%, 80%);
 }
body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(184, 107, 119);
    background-color: ivory;
    font-family: Verdana, Geneva, sans-serif;
    vertical-align: middle;
    padding-top: 25px;

}

/* Body Heading Styles */
h1 {
 font-size: 2.2em;
}
h2 {
 font-size: 1.5em;
}
h1, h2 {
 font-family: Helvetica, Verdana, Geneva, sans-serif;
 letter-spacing: 0.1em;
}

 img {
 display: block;
 width: 100%;
}

 nav li {
 width: 20%;
}

/* Floating Styles*/

nav li{
    display: block;
    float: left;
}  


/*Left Column Styles*/


section#leftcolumn{
        clear: left;
        float: left;
        padding: 70px;
        width: 50%;
    }
section#leftcolumn img {
 display: block;
 width: 100%;
}


/*Right Column Styles*/

section#rightcolumn{
        float: left;
        padding: 70px;
        width: 50%;
    }

section#rightColumn img {
 display: block;
 width: 100%;
}



/* Aside and Blockquote Styles */


/*Structural Styles*/
article, aside, figcaption,figure, footer, header, main, nav, section{
    display:block;
}



/* Horizontal Navigation Styles */	
nav {
 font-size: 0.8em;
}
nav > ul {
 line-height: 2em;
}

nav li {
 display: block;
 float: left;
}
nav a {
 display: block;
 text-align: center;
}

/* List Styles */

/*Typographic Styles*/
address, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
 
 font-size: 100%;
 margin: 10;
 padding: 0;
 vertical-align: baseline;
 box-sizing: border-box;
}

nav ul {
 list-style: none;
 list-style-image: none;
}
nav a {
 text-decoration: none;
}
body {
 line-height: 1;
}

div {
  column-gap: 40px;
}

/* Footer Styles */
body > footer address {
   background-color: rgb(184,107,119);
   color: ivory; 
   color: rgba(255, 255, 255, 0.7);
   font: normal small-caps bold 0.9em/3em
   Verdana, Geneva, sans-serif;
   text-align: center;
}

footer {
 clear: left;
}









